*{margin:0;padding:0;box-sizing: border-box;}
a{
   color:#363636;
   text-decoration: none;
}
/* header top div style */
header>.top{
   background-color:#eee;
   margin:0 auto;
}
header>.top>.topParent{
   padding:0 30px;
   max-width:1220px;
   margin:0 auto;
   line-height:34px;
}
header>.top>.topParent::after{
   content:"";
   display:block;
   clear:both;
}
header>.top>.topParent>.topLeft{
   float:left;
}
header>.top>.topParent>.topRight{
   float:right;
}
header>.top>.topParent>.topLeft>a{
   font-size:18px;
}
header>.top>.topParent>.topRight>a{
   font-size:15px;
}
@media screen and (max-width:992px){
   header>.top{
      display: none;
   }
}
/* header bottom div style */
header>.bottom>.bottomParent{
   max-width:1220px;
   height:64px;
   padding:0 30px;
   margin:0 auto;
   line-height: 64px;
}
header>.bottom>.bottomParent>.logo{
   height:64px;
   width:130px;
   position:absolute;
   left:50%;
   margin-left:-65px;
}
header>.bottom>.bottomParent .bottomLeft>ul{
   list-style: none;
   line-height: 64px;
}
header>.bottom>.bottomParent .bottomLeft>ul>li{
   float:left;
   margin-right:24px;
   color:#363636;
   font-size:15px;
}
header>.bottom>.bottomParent::after{
   content:"";
   display: block;
   clear: both;
}
header>.bottom>.bottomParent .bottomRight>ul{
   float:right;
   list-style:none;
}
header>.bottom>.bottomParent .bottomRight>ul>li{
   float:left;
   line-height: 64px;
   font-size:15px;
}
header>.bottom>.bottomParent .bottomRight>.conUl>li{
   margin-right:25px
}
header>.bottom>.bottomParent .bottomRight>.conUl>li>img{
   width:18px;height:18px;
   margin-right:5px;
}
header>.bottom>.bottomParent .imgUl{
   list-style-type: none;
}
header>.bottom>.bottomParent .imgUl>li{
   padding-left:25px;
   float:right;
   line-height: 64px;
   font-size:15px;
}
/* 隐藏div样式 */
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide{
   background-color:#fff;
   position:fixed;
   width: 105%;
   height:0px;
   margin-left:-129.5px;
   padding:0px;
   display: flex;
   opacity:0;
   transition:all 0.25s linear;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>a:hover+.canHide{
   opacity:1;
   height:190px;
   background-color:#fff;
   border-top:1px solid #aaa;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>a{
   display: block;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>a:hover{
   border-bottom:3px solid #1428a0;
   color:#1428a0;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide>.hideLeft{
   width:45%;
   /* border-right:1px solid #aaa; */
   margin-top:20px;
   margin-left:100px;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide>.hideLeft>ul{
   display:flex;
   justify-content:left;
   align-items:center;
   list-style: none;
   border-right:1px solid #aaa;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide>.hideLeft>ul>li{
   width:100px;height:100px;
   margin:0 20px 0 10px;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide>.hideLeft>ul>li>p{
   margin-top:-20px;
   color:#363636;
   font-size:13px;
   line-height: 13px;
   text-align:center;
   cursor: pointer;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide>.hideLeft>ul>li>p:hover{
   color:#006ec5;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide>.hideRight{
   display:flex;
   justify-content:left;
   align-items:left;
   list-style: none;
   margin-left: 10px;
   margin-top:20px;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide>.hideRight>ul{
   display:flex;
   justify-content:left;
   align-items:left;
   list-style: none;
   flex-direction: column;
   margin-left: 10px;
}
header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide>.hideRight>ul>li{
   margin:-15px 0;
}
#supmarrk{
   display: none;
}
/* header bottom media */
@media screen and (max-width:991px){
   #search{
      position:fixed;
      top:64px;left:0px;
      background-color:#fff;
      z-index:999;
      border-top:1px solid #ccc;
      display:none;
      width:220px
   }
   #search ul{
      margin-left:20px
   }
   .bottom>.bottomParent>.imgUl{
      position: relative;
      top:-15px
   }
   #search ul,#search ul>li{
      float:none;
   }
   #search ul li .canHide .hideLeft{
      display: none;
   }
   #search ul li .canHide .hideRight{
      position: fixed;
      top:94px;left:120px;
      display:none;
   }
   header>.bottom>.bottomParent .bottomLeft>ul>li>.canHide{
      background-color:#fff;
      position:fixed;
      width:0;
      height:0px;
      margin-left:-129.5px;
      padding:0px;
      display: flex;
      transition:all 0s linear;
   }
   header>.bottom>.bottomParent .bottomLeft>ul>li>a:hover+.canHide{
      width:0px;
      height:0px;
      background-color:#fff;
      border-top:none;
   }
   header>.bottom>.bottomParent .bottomLeft>ul>li>a:hover{
      border-bottom:none;
      color:#363636;
   }
   #search>.bottomRight{
      border:1px solid #ddd;
   }
   #search>.bottomLeft>ul>li>a>span{
      display:block;
      position: relative;
      right:-100px;top:5px;
      display:inline-block;
      height:18px;
      /* display:none; */
   }
}
#supmark::after{
   content:"";
   display: block;
   clear:both;
}
#change{
   background-image:url(../images/menu.png);
   width:20px;height:20px;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   top:20px;left:-10px;
   cursor: pointer;
}
.close{
   background-image:url(../images/close.png)!important;
}
#search>.bottomLeft>ul>li>a>span>img{
   width:18px;height:18px;
}
@media screen and (min-width:992px){
   #change,#supmark{
      display:none;
   }
   #search{
      display:block;
   }
   #search>.bottomLeft>ul>li>a>span{
      display:none;
   }
}