*{
   margin:0;padding:0;
   box-sizing:border-box;
}
ul{
   list-style:none;
}
a{
   color:#363636;
   text-decoration: none;
}
/* 面包屑导航 */
#main{
   margin:0 auto;
   display: block;
   position:relative;
}
#main>.bread{
   margin:0 auto;
   padding:25px 30px;
}
.bread>ul>li{
   color:#363636;
   display:inline-block;
   padding:0 5px;
   font-size:14px;
}
.bread>ul>li:last-child{
   color:#1428a0;
}
/* 详情最外层div */
#main>.details{
   display:block;
   margin-left:auto;
   margin-right:auto;
   padding:20px 30px;
   position: relative;
}
/* 标签样式 */
#main>.details>.s_icons>.icon-active-box{
   padding:20px 30px;
}
.icon-active-box{
   position:absolute;
   top:0;left:0;
   padding-right:7px;
}
.icon{
   font-style:normal !important;
   font-weight:normal;
}
.icon-active-box lable:first-child{
   margin-top:0;
}
.icon-active-box .icon{
   height:auto !important;
   padding:1px 5px 2px 5px;
   display:block;
   margin-top:11px;
   font-size:20px;
   color:#fff;
   height:20px;
   line-height:30px;
   padding:0 5px;
   position:relative;
   opacity:.9;
}
.icon-orange{
   background-color:#ed5e2f;
   opacity:.9;
}
.icon-active-box .icon span{
   max-width:40px;
   display:block;
}
.icon-orange>i.arrow-top{
   border-right-width:7px;
   border-top-width:17px;
}
.icon-orange>i.arrow-bottom{
   top:auto;
   bottom:0;border:0;
   border-right-width:7px;
   border-bottom-width:17px;
   border-right:7px solid transparent;
   border-bottom:15px solid #ed5e2f;
}
.icon-active-box .icon>i{
   position: absolute;
   top:0;left:100%;
   border:1;
   border-right:7px solid transparent;
   border-top:15px solid #ed5e2f;
   width:0;
   height:0;
   display: inline-block;
   zoom:1;
   vertical-align: middle;
}
/* .icon-active-box>:last-child>i.arrow-bottom{
   position: absolute;
   top:0;left:0;
} */
/*详情图样式*/
#main>.details>.details_img_lg{
   position:absolute;
   top:0px;left:80px;
}
#main>.details>.details_img_sm{
   box-sizing: border-box;
}
#main>.details>.details_img_sm>ul{
   max-width: 420px;
   max-height:100px;
   padding-top:20px;
   padding-left:30px;
   position: absolute;
   top:440px;left:80px;
   display:flex;
   overflow: hidden;
}
#main>.details>.details_img_sm>ul>li>img{
   margin-right:20px;
   width:79px;height:79px;
}
/*图片详情——————左右按钮*/
#main>.details>.btnLeft{
   width:100px;height:100px;
   background-image:url(../images/left.png);
   position:absolute;
   top:453px;left:18px;
   background-repeat: no-repeat;
   background-position:center;
}
#main>.details>.btnRight{
   width:100px;height:100px;
   background-image:url(../images/right.png);
   position:absolute;
   top:453px;left:485px;
   background-repeat: no-repeat;
   background-position:center;
}
/* 文字详情 */
#main>.details .details_content{
   position:absolute;
   top:0px;right:80px;
}
#main>.details .details_content>h1{
   color:#333333;
   font-size:28px;
   font-weight: normal;
   padding-left:60px;
}
#main>.details .details_content>p{
   margin-top:5px;
   padding:5px 0px;
}
#main>.details .details_content span{
   border:1px solid #006ec7;
   border-radius:4px;
   background-color: #006ec7;
   font-size:12px;
   color:#fff;
   width:50px;
   text-align: center;
   display:inline-block;
   line-height:24px
}
#main>.details .details_content li{
   padding-left:60px;
   margin-top:8px;
}
#main>.details .details_content li>b{
   color:#f00
}
#main>.details .details_content li>a{
   color:#00f;
   text-decoration-line: underline;
}
#main>.details .details_content>ul{
   color:#333333;
   font-size:14px;
   background-color:#f3f7fb
}
/* 颜色详情 */
.details .details_color{
   width:634px;
   position:absolute;
   top:312px;right:50px;
}
.details .details_color>span{
   display:block;
   height:100px;
   margin-right:20px;
   margin-top:20px;
   float:left;
}
.details .details_color>ul>li{
   float:left;
   display:block;
   box-sizing:border-box;
   margin-left:20px;
   border:1px solid #ddd;
   width:25%;
   line-height: 44px;
   margin:5px 5px;
   /* padding:5px 0px; */
   /* vertical-align: middle; */
}
.details .details_color>ul>li:hover{
   border:1px solid #1428a0;
}
.details .details_color>ul>li>a>span{
   display:inline-block;
   margin-right:8px;
   margin-top:10px;
   border:10px solid #000;
   border-radius:50%;
}
.details .details_color>ul>li>a{
   display:block;
   padding:0px 0px 0px 30px;
   width:162px;height:44px;
}
.details .details_color>ul>li>a>i{
   font-style:normal;
   vertical-align:0.25rem
}
.details .details_color>ul>li.active{
   border:2px solid #1428a0;
   box-sizing: border-box;
}
/*内存样式*/
.details .details_color.ram{
   width:634px;
   position:absolute;
   top:432px;right:50px;
}
.details .details_color.ram>ul>li{
   height:88px;
   line-height:22px;
   text-align: center
}
.details .details_color.ram>ul>li>a{
   padding:5px 0px 0px 0px;
}
/*版本样式*/
.details .details_color.ver{
   width:634px;
   position:absolute;
   top:537px;right:50px;
}
.details .details_color.ver>ul>li{
   height:44px;
   line-height:22px;
   text-align: center
}
.details .details_color.ver>ul>li>a{
   padding:5px 0px 0px 0px;
}
/*好礼样式*/
.details .details_color.sp{
   width:634px;
   position:absolute;
   top:600px;right:50px;
}
.details .details_color.sp>ul>li{
   height:44px;
   line-height:22px;
   text-align: center
}
.details .details_color.sp>ul>li>a{
   padding:5px 0px 0px 0px;
}
/*最下边文字详情*/
.details .details_words{
   width:634px;
   position:absolute;
   top:660px;right:50px;
}
.details .details_words .bg{
   margin-left:55px;
   background-color:#f8f8f8;
}
.details .details_words>span{
display:block;
   height:150px;
   margin-right:20px;
   margin-top:20px;
   float:left;
}
.details .details_words .details_words_title{
   padding:20px;
   border-bottom:2px solid #fff;
}
.details .details_words .details_words_title>.w_size{
   display:inline-block;
   font-size:16px;
   font-weight: bold;
}
.details .details_words .details_words_title>.p_size{
   display:inline-block;
   font-size:28px;
   margin-left:50px;
   font-weight: bold;
}
.details .details_words .details_words_ul{
   padding:20px;
   height:157px
}
.details .details_words .details_words_ul>span{
   display:block;
   border:1px solid #fa7236;
   color:#fa7236;
   font-size:12px;
   margin:0px 0px 10px 0px;
   padding:3px 2px;
   width:54px;
   border-radius: 4px;
}
.details .details_words .details_words_ul>ul{
   font-size:12px;
   width:420px;
   float:right;
   position:absolute;
   top:100px;right:50px;
   list-style-type: disc;
}
/* .details .details_words .details_words_ul::after{
   content:"";
   display:block;
   clear:both;
} */
.details .details_words .details_words_ul>ul>li{
   margin-bottom:10px;
}
.details .details_words .details_words_ul>ul>li>a{
   display:inline-block;
   margin-right:30px;
   color:#337ab7;
}
.details .details_words .details_words_ul>ul>li>i{
   font-style:normal;
}
/*btn*/
.details .btn_parent{
   width:634px;
   position:absolute;
   top:270px;right:50px;
   padding-left:110px;
}
.details .btn_parent>.btnchange{
   display:inline-block;
   width:189px;height:50px;
   border:1px solid #333333;
   background-color:#2f0d9b;
   font-size:24px;
   color:#fff;
   text-align: center;
   line-height: 50px;
   border-radius: 30px;
   transition:all .5s linear;
}
.details .btn_parent>.btnchange:hover{
   color:#2f0d9b;
   background-color: #fff
}
.details .btn_parent>.btnbuy{
   display:inline-block;
   width:189px;height:50px;
   border:1px solid #333333;
   background-color:#fff;
   font-size:24px;
   color:#333333;
   text-align: center;
   line-height: 50px;
   border-radius: 30px;
   transition:all .5s linear;
}
.details .btn_parent>.btnbuy:hover{
   color:#fff;
   background-color: #000
}
/*图片导航*/
#main .img_nav{
   width:100%;
   height: 80px;
   position: absolute;
   top:1100px;
   background-color:#e1e3e5;
   border-bottom:1px solid #ddd
}
#main .img_nav>ul{
   display:flex;
}
#main .img_nav>ul>:first-child{
   width:315px;
   text-align: center;
   line-height: 80px;
   font-size:24px;
   color:#333;
   font-weight: bold
}
#main .img_nav>ul>:nth-child(2),#main .img_nav>ul>:nth-child(3),#main .img_nav>ul>:nth-child(4){
   width:180px;
   text-align: center;
   line-height: 80px;
   font-size:20px;
   color:#333;
}
#main>.img_nav>ul>li>a{
   display: block;height:80px
}
/*图片导航的选中样式*/
#main>.img_nav>ul>li>a.active{
   font-weight: bold;
   color:#1428a0;
   border-bottom:3px solid #1428a0;
}
#main>p{
   position: absolute;
   top:1180px;
   background-color: #e1e3e5;
   display: block;
   height:106px;
   color:#2b3ea7;
   padding:30px;
   font-size: 18px;
   text-align: center;
}
#main>p>span{
   font-size: 22px;
   color:#2b3ea7;
}
/*imgs style*/
#main .imgs{
   width:100%;
   position: absolute;
   top:1286px;
}
#main .imgs>.img1{
   background-image:url(../images/details_img/img-1-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img1>div{
   background-image:url(../images/details_img/img-1-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img2{
   background-image:url(../images/details_img/img-2-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img2>div{
   background-image:url(../images/details_img/img-2-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img3{
   background-image:url(../images/details_img/img-3-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img3>div{
   background-image:url(../images/details_img/img-3-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img4{
   background-image:url(../images/details_img/img-4-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img4>div{
   background-image:url(../images/details_img/img-5-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img5{
   background-image:url(../images/details_img/img-5-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img5>div{
   background-image:url(../images/details_img/img-5-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img6{
   background-image:url(../images/details_img/img-6-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img6>div{
   background-image:url(../images/details_img/img-6-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img7{
   background-image:url(../images/details_img/img-7-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img7>div{
   background-image:url(../images/details_img/img-7-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img8{
   background-image:url(../images/details_img/img-8-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img8>div{
   background-image:url(../images/details_img/img-8-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img9{
   background-image:url(../images/details_img/img-9-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img9>div{
   background-image:url(../images/details_img/img-9-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img10{
   background-image:url(../images/details_img/img-10-b.jpg);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
#main .imgs>.img10>div{
   background-image:url(../images/details_img/img-10-b.png);
   height:597px;
   /* vertical-align: middle; */
   background-position:center;
   background-repeat:no-repeat;
}
/* details_table style */
.details_table{
   width:100%;
   position: absolute;
   top:7256px;
}
.details_table>.title{
   display:block;
   height:132px;
   padding:70px 30px;
   text-align: center;
   font-size: 32px;
   color:#333;
}
.details_table .cpu{
   /* height:113px; */
   padding:0px 30px 30px;
   border-top:1px solid #ccc;
}
.details_table .cpu>.cpu_title{
   display:inline-block;
   padding-top:30px;
   color:#007ebf;
}
.details_table .cpu>.cpu_ul{
   display:flex;
   width:963px;
   justify-content: center;
   margin-left:180px;
   margin-top:-18px
}
.details_table .cpu>.cpu_ul>li{
   width:321px;
   padding-right:15px;
}
.details_table .cpu>.cpu_ul h5{
   font-size: 15px;
}
.details_table .cpu>.cpu_ul p{
   font-size: 14px;
   display:inline-block
}
.details_table>a{
   display:block;
   padding:30px;
   font-size: 16px;
   color:#5f5f5f;
}
.details_table>a>span{
   font-size:26px;
}
.details_table>#canHide.hide{
   opacity:0;
   height:0;
   background-color:#f9f9f9;
   transition:all .5s linear;
}
#spec{
   background-color:#f9f9f9;
}
.details_table>#canHide.show{
   opacity:1;
   height:284px;
   background-color:#f9f9f9;
   transition:all .5s linear;
}
.details_table>.memory{
   padding:20px 30px;
   font-size:14px;
   color:#333;
   background-color:#f1f2f4
}
/* 相关推荐 */
.recommend>.title{
   display:block;
   height:132px;
   padding:70px 30px;
   text-align: center;
   font-size: 32px;
   color:#333;
}
.recommend>ul{
   display: flex;
   justify-content: center;
}
.recommend>ul>li h2,.recommend>ul>li p{
   text-align: center;
}
.recommend>ul>li h2>a,.recommend>ul>li p{
   font-size:16px;
   color:#333;
   font-weight: normal;
}