*{margin:0;padding:0;box-sizing:border-box;}
/* 背景图片 */
.login{
   height:700px;
   position: relative;;
   top:70px;
   background-image: url(../images/bg-pc.jpg);
   background-repeat:no-repeat;
   background-position: center;
}
.login>.img>img{
   width:87px;height:87px;
   position:absolute;
   top:0px;left:194px;
}
.login>.img>#title{
   margin-left:180px;
}
.login>.img>#title>.title{
   font-size:42px;
   color:#fff;
   padding:252px 0px 0px 15px;
   margin-bottom:5px;
   text-align:left;
}
.login>.img>#title>.sub_title{
   font-size:16px;
   color:#fff;
   padding-left:15px;
}
/* 左边登录div */
.login>.img>.form{
   background-color:#fff;
   position:absolute;
   top:60px;right:150px;
   width:410px;
}
.login>.img>.form>h2{
   padding:80px 0px 40px;
   text-align: center;
   font-size:30px;
   color:#333;
}
.login>.img>.form>ul{
   list-style: none;
   margin:40px 30px 60px
}
.login>.img>.form>ul>li{
   float:left;
   margin-right:15px;
}
.login>.img>.form>ul::after{
   content:"";
   display:block;
   clear:both;
}
/* user style */
.login>.img>.form>.user>span{
   display:inline-block;
   width:88px;height:1px;
   background-color:#dfdfdf;
   margin:0px 20px 0px;
}
.login>.img>.form>.user>p{
   display:inline-block;
   font-size:20px;
   color:#444;
   margin-bottom:10px;
   padding:0px 0px 40px;
}
/* btn */
.login>.img>.form>.btn{
   display:inline-block;
   width:189px;height:50px;
   border:1px solid #333333;
   background-color:#1429a0;
   font-size:14px;
   color:#fff;
   text-align: center;
   line-height: 50px;
   border-radius: 30px;
   margin-left:100px
}
.login>.img>.form>.help>a{
   display:inline-block;
   margin-left:150px;
   margin-top:20px;
   font-size: 15px;
   color:#1429a0
}
.login>.img>.form>.help>p{
   color:#333;
   font-size: 14px;
   text-align: center;
   margin:15px 15px 10px;
}